:root {
  --primary-color: #2b1887;
  --secondary-color: #2d41a7;
  --gray-color: #dddddd;
  --white-color: #ffffff;
  --black-color: #000000;
}

body {
  background-color: var(--primary-color);
  color: #fff;
  height: 100%;
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
